.form-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-button {
    background-color: cornflowerblue;
    color: #fff;
}

.form-button:hover {
    background-color: royalblue;
}